---
import Card from "@/components/Card.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Padel Masters League">
	<section>
		<span> Championship XXXX -> </span>
		<h2 class="font-bold">GROUP A</h2>

		<h3 class="mb-4 text-xl">Calendar</h3>
		<h3 class="mb-4 text-xl font-bold">League Standings</h3>
		<div class="flex items-center gap-4">
			<div class="font-medium">Name</div>
			<div class="font-medium text-primary">Pts</div>
			<div class="font-medium text-primary">Victory</div>
			<div class="font-medium text-primary">Draw</div>
			<div class="font-medium text-primary">Lost</div>
		</div>
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-1">
			<Card name="Person 1" points={14} />
			<Card name="Person 2" points={12} />
			<Card name="Person 4" points={10} />
			<Card name="Person AAA" points={5} />
			<Card name="Person NO-ONE" points={1} />
		</div>
	</section>
</Layout>
