---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
---

<Layout title="Padel Masters League">
  <section>
    <div>This is a list of teams</div>

    <h2 class="text-xl font-bold mb-4">League Standings</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 gap-4">
      <Card name="Team 1" points={14} />
      <Card name="Team 2" points={12} />
      <Card name="Team 4" points={10} />
      <Card name="Team AAA" points={5} />
      <Card name="Team NO-ONE" points={1} />
    </div>
  </section>
</Layout>
