---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import { SignedIn, SignedOut } from "astro-clerk-auth/components/control";
import { UserButton, SignIn } from "astro-clerk-auth/components/interactive";
---

<Layout title="Padel Masters League">
  <section>
    <h3 class="text-3xl font-bold">Thank you for using our App!</h3>
    <p class="text-muted-foreground">
      Padel Mastersis a premier padel tournament that brings together the best
      players from Brunswick, and also Karl Müller.
    </p>
  </section>
</Layout>
