---
import Layout from "@/layouts/Layout.astro"

// const user = Astro.locals.auth()
// console.log(user)
---

<Layout title="Welcome to Padel Masters">
	<div>
		<h1 class="mb-4 text-2xl font-bold">Welcome to Padel Masters</h1>
		<p>Padel Masters is a platform to manage padel leagues and tournaments.</p>
	</div>
</Layout>
