---
import SignInComponent from "@/components/ui/SignIn.tsx";
import { TranslationKey } from "@/i18n/ui";
import { useTranslations } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";
const t = useTranslations(Astro.url);
---

<Layout title="Welcome to Padel Masters - Sign in">
	<div
		class="flex h-auto flex-col items-center justify-center self-auto bg-background"
		id="thefather"
	>
		<div class="w-full max-w-md self-auto rounded-lg bg-card px-6 py-8 shadow-lg">
			<div class="flex flex-col place-content-center items-center space-y-6">
				<div class="text-center">
					<h1 class="text-xl font-bold text-foreground">{t(TranslationKey.SignInTitle)}</h1>
				</div>

				<div class="flex items-center space-x-4">
					<SignInComponent client:load>{t(TranslationKey.SignIn)}</SignInComponent>
				</div>
			</div>
		</div>
	</div>
</Layout>
