---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Welcome to Padel Masters">
	<div>My sign up component</div>
</Layout>

<style>
	div {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
