---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Padel Masters - Sign in">
	<div>
		<p>this is not showing up, is it?</p>
	</div>
</Layout>

<style>
	div {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
</style>
