---
import { SignIn as SignInComponent } from "astro-clerk-auth/components/interactive";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Padel Masters">
  <div>
    <SignInComponent />
  </div>
</Layout>

<style>
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
