---
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="Teams">
  <main>
    <h1 class="text-gradient text-7xl">Teams</h1>
    <p>Here are the teams that are participating in the tournament:</p>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
