---
import { type BreadCrumbProps } from "@/components/ui/types.ts";
import { HomeIcon } from "@heroicons/react/20/solid";

let pages: BreadCrumbProps = Astro.props.pages;
---

<div class="flex border-b border-gray-200 bg-white" aria-label="Breadcrumb">
	<ol role="list" class="mx-auto flex w-full max-w-screen-xl space-x-4 px-4 sm:px-6 lg:px-8">
		<li class="flex">
			<div class="flex items-center">
				<a href="/" class="text-gray-400 hover:text-gray-500">
					<HomeIcon className="h-5 w-5" />
					<span class="sr-only">Home</span>
				</a>
			</div>
		</li>
		{
			pages.map((page) => (
				<li class="flex">
					<div class="flex items-center">
						<svg
							fill="currentColor"
							viewBox="0 0 24 44"
							preserveAspectRatio="none"
							aria-hidden="true"
							class="h-full w-6 flex-shrink-0 text-gray-200"
						>
							<path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
						</svg>
						<a
							href={page.href}
							class="gray-red-500 ml-4 text-sm font-medium text-neutral-400 hover:text-gray-700"
						>
							{page.name}
						</a>
					</div>
				</li>
			))
		}
	</ol>
</div>
