---
interface Props {
  name: string;
  points: number;
}

const { name, points } = Astro.props;
---

<div>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-4">
      <div class="font-medium">{name}</div>
      <div class="text-muted-foreground text-sm">9-7</div>
    </div>
    <div class="text-primary font-medium">{points} pts</div>
  </div>
</div>
