---
import MobileNav from "@/components/MobileNav.tsx"
import NavLink from "@/components/NavLink.astro"
import { TranslationKey } from "@/i18n/ui"
import { useTranslations } from "@/i18n/utils"
import { isUserLoggedIn } from "@/services/utils"

import { getSession } from "auth-astro/server"
import { setLinkActive, type NavigationLink } from "./ui/types"

const t = useTranslations(Astro.url)
const session = await getSession(Astro.request)

const isLogged = await isUserLoggedIn(session)

let navigationLinks: NavigationLink[] = []

if (isLogged) {
	navigationLinks = [
		{
			group: 1,
			links: [
				{ name: t(TranslationKey.NavChampionships), href: "/championships", isActive: false },
				{ name: t(TranslationKey.NavMatches), href: "/matches", isActive: false },
			],
		},
		{
			group: 2,
			links: [{ name: t(TranslationKey.NavProfile), href: "/profile", isActive: false }],
		},
	]
} else {
	navigationLinks = [
		{
			group: 1,
			links: [{ name: t(TranslationKey.SignIn), href: "/sign-in", isActive: false }],
		},
	]
}

const currentPath = Astro.url.pathname
navigationLinks = navigationLinks.map((group) => ({
	group: group.group,
	links: group.links.map((link) => ({
		...link,
		isActive: link.href === currentPath,
	})),
}))

navigationLinks = setLinkActive(navigationLinks, currentPath)
---

<header class="flex items-center justify-between bg-primary-800 px-6 py-4 text-primary-foreground">
	<div class="flex items-center gap-4">
		<a href="/" class="logo text-2xl font-bold">Padel Masters</a>
	</div>
	<nav class="ml-auto hidden items-center gap-6 md:flex">
		<div>
			{
				navigationLinks.map((group) => {
					return group.links.map((element) => {
						return <NavLink text={element.name} href={element.href} isActive={element.isActive} />
					})
				})
			}
		</div>
	</nav>

	<MobileNav client:load {navigationLinks} />
</header>
