---
import MobileNav from "@/components/MobileNav.jsx"
import NavLink from "@/components/NavLink.astro"
import { isUserLoggedIn } from "@/services/utils"
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)

const isLogged = await isUserLoggedIn(session)
---

<header class="flex items-center justify-between bg-primary-800 px-6 py-4 text-primary-foreground">
	<div class="flex items-center gap-4">
		<a href="/" class="logo text-2xl font-bold">Padel Masters</a>
	</div>
	<nav class="hidden items-center gap-6 md:flex">
		<div>
			{
				!isLogged ? (
					<a href="/sign-in" class="sign-in-button">
						Sign In
					</a>
				) : (
					<>
						<NavLink text="Feature" href="/features" />
						{/* <NavLink text="Feature" href="#features" /> */}
						<a href="/profile" class="sign-in-button">
							Profile
						</a>
						<a href="/championships" class="font-medium hover:underline">
							Championships
						</a>
						<a href="/matches/mine" class="bg-neutral-500 font-medium hover:underline">
							Matches
						</a>
					</>
				)
			}
		</div>
	</nav>
	<!-- <button
		class="rounded-md border border-primary-foreground px-4 py-2 text-primary-foreground transition-colors hover:bg-primary-foreground hover:text-primary md:hidden"
	>
		<span class="sr-only">Toggle menu</span>
	</button> -->

	<MobileNav client:load />
</header>
