---
interface Props {
	text: string;
	href: string;
	isActive: boolean;
}

const { text, href, isActive } = Astro.props;
---

<a
	href={href}
	class={`rounded-md mx-2 px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white  ${isActive ? "bg-primary-900 text-white" : ""}`}
>
	{text}
</a>
