---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Padel Masters - Not Found!">
	<section class="w-full pt-2 md:pt-2 lg:pt-2">
		<div class="w-full rounded-lg bg-background p-6 shadow-lg">
			<div class="mb-6 flex items-center justify-between">
				<h4>Not Found!</h4>
				<a
					href="/championships"
					class="inline-flex h-9 items-center justify-center rounded-md bg-primary px-6 py-3 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
					>Back</a
				>
			</div>
		</div>
	</section>
</Layout>
