---
import SignOutComponent from "@/components/ui/SignOut.tsx";
import { TranslationKey } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import { Cog8ToothIcon, UserCircleIcon } from "@heroicons/react/24/outline";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

const t = useTranslations(session);

// https://tailwindui.com/components/application-ui/page-examples/settings-screens
---

<div class="flex h-full items-center justify-center py-36">
	<div
		class="flex h-96 w-full max-w-2xl items-center justify-evenly divide-x divide-gray-200 rounded-lg bg-white p-8 shadow-lg"
	>
		<div class="divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
			<div class="flex-8 flex flex-col p-12">
				<UserCircleIcon className="h-14 w-14 self-center text-gray-400" />
				<h3 class="mt-6 text-base font-bold text-gray-900">{session?.user?.name}</h3>
			</div>

			<div
				class="flex place-items-center content-stretch items-center justify-evenly divide-x divide-gray-200"
			>
				<a
					href="/profile/edit"
					class="rounded-md bg-neutral-600 px-6 py-3 text-sm font-medium text-primary-foreground transition-colors hover:bg-neutral-700"
				>
					<Cog8ToothIcon className="mr-4 inline-block h-6 w-6 text-primary-foreground" />
					{t(TranslationKey.AccounSettings)}
				</a>

				<SignOutComponent client:load text={t(TranslationKey.SignOut)} />
			</div>
		</div>
	</div>
</div>
