---
interface Props {
	title: string
}

import "@/assets/styles/base.css"
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import SpeedInsights from "@vercel/speed-insights/astro"
import { ViewTransitions } from "astro:transitions"

const { title } = Astro.props
---

<!doctype html>
<!-- <html lang="en" class="dark"> -->
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Padel Masters" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="flex min-h-screen flex-col">
		<Header />
		<main class="flex-1">
			<slot />
		</main>
		<SpeedInsights />
		<Footer />
	</body>
</html>
