---
import Layout from "@/layouts/Layout.astro";

const { id } = Astro.params;
---

<Layout title=`Padel Masters - User ${id} `>
	<div>
		<h1>User {id}</h1>
		<p>Here we will show the user details</p>
	</div>
</Layout>
